<div class="container content">
  <h1>Your offices</h1>

    <% @offices.each do |office| %>
        <div class="big-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= office.photo %>);">
          <div class="office-name">
            <%= link_to office.name, office_path(office) %>
          </div>
          <div class="update">
            <% if policy(office).edit? %>
              <%= link_to "Edit", edit_office_path(office) %>
              <%= link_to "Delete", office_path(office), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
          </div>
        </div>
    <% end %>
</div>



