.home-banner {
  background-image: url('TODO: A picture URL from unsplash.com!');
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;
  padding-top: 40vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}

.description-banner {
  background-color: white;
  background-size: cover;
  height: 30vh;
  color: black;
  text-align: center;
}
