.home-banner {
  background-image: url('TODO: A picture URL from unsplash.com!');
  background-size: cover;
  height: 60vh;
  color: white;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}


.pv {
  margin-top: 140px;
}
